
.figure__img--small {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 10px;
  }
  
  
  .audit {
    border-radius: 7px;
    padding: 10px;
    background-color: #06593B;

    .audit__el {
      background-color: white;
      border-radius: 7px;
      padding: 20px;
    }
    
  }
  

  .auditTwo {
   margin: 10px 0;
  }
  
  .audit p {
    margin-top: 0;
  }