.container__credits {
  text-align: center;
  font-family: cursive;
  padding: 56px;
  height: 50vh;

  div {
    margin-top: 16px;
  }

  li {
    max-width: 100ch;
  }
}


.rem {
  border: solid tomato;
  border-width: thin medium thick 1em;
  margin-bottom: 20px;
}