
.container__credits {
  text-align: center;
  font-family: cursive;
  padding: 56px;
  margin: 142px 0 0 0;
  height: 50vh;
}

.container_credits div {
  margin-top: 16px;
}

.rem {
  border: solid tomato;
  border-width: thin medium thick 1em;
  margin-bottom: 20px;
}

.container__credits li{
  max-width: 100ch;
}