.butt {
    width: 50px;
    height: 25px;
    text-align: center;
    background-color: #fff;
    color: black;
    border-radius: 25px;
    transition: all 1s;
    border: none;
    cursor: pointer;
    bottom: 0;
    position: fixed;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.night {
    color: white;
    background-color: #05141A;
  
    .butt {
      background-color: #000;
      color: #fff;
    }
  
    p {
      color: white;
    }
  
    figcaption {
      color: white;
    }
  
    .title--medium {
      color: #02ff37;
    }
  
    .list__el {
      color: white;
    }
  
    .tab__item {
      color: white;
    }
  
    a {
      color: #02ff37;
    }
  
    .menu a {
      color: white;
    }
  
    footer a {
      color: #02ff37;
    }
  
    .annee {
      color: #02ff37;
    }
  
    .lien--color {
      color: white;
    }
  
    .sectionOne {
      background-image: none;
    }
  
    .sectionThree {
      background-color: #05141A;
    }
  
    .container__audit {
      background-color: #05141A;
      color: white;
    }
  
    .head {
      background-color: #05141A;
      border-bottom: #05141A;
    }
  
    .title--small {
      color: #6aff89;
    }
  
    .title--big {
      color: #02ff37;
    }
  
    .containerText {
      background-color: #05141A;
    }
  }
  