
.sectionOne {
    padding: 25px;
    background-image: url(../assets/images/background-mobile.svg);
    background-size: cover;
    border-radius: 20px;
  }

.section--padding{
    padding: 25px;
  }

.section--marg{
    margin-bottom: 22px;
  }
  
  .sectionTwo {
    border-radius: 50px 50px 0 0;
    margin-bottom: 90px;
  }
  
  .sectionThree {
    background-color: #06593B;
    color: white;
    border-radius: 50px 50px 0 0;
    margin-bottom: 90px;
  
    .title {
      color: #edeed3;  
    }
  
    .title--small{
      margin-top: 60px;
    }
  
    figure{
      margin-top: 40px;
    }
  
    summary::marker {
      color: #edeed3;
    }
  
    .gridMarg{
      margin-bottom: 60px;
    }
  }
  
  .sectionFour {

    .title--medium {
      margin-top: 0;
    }
  }
  
  .sectionFive {
    margin-bottom: 90px;

     p {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

 
  


