@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@import 'components/burgermenu';
@import 'components/section';
@import 'components/header';
@import 'components/annimepanier';
@import 'components/darkmode';
@import 'components/uikit';
@import 'components/credits';
@import 'components/footer';
@import 'components/annimation';
@import 'components/parallax';
@import 'components/tableau';
@import 'components/details';
@import 'components/audits';
@import 'components/gridmobile';
@import 'components/media';



* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden !important;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 18px;
  color: #06593B;
}

.descrip__fonction {
  background-color: white;
  margin-top: 26px;
  border-radius: 50px 50px 0 0;
  padding: 4px;
}

.title {
  font-weight: 1000;
  color: #823e05;
}

.title--big {
  font-size: 37px;
  text-transform: uppercase;


}

.title--medium {
  font-size: 28px;
  margin-top: 35px;

}

.title--small {
  font-size: 22px;
  margin-top: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #823e05;
}

a:hover {
  text-decoration: underline;
}


p,
figcaption {
  max-width: 80ch;
}


.figure__img--big {
  width: 100%;
}

.p--marg {
  margin-top: 22px;
}

.figure--margin {
  margin-top: 22px;
}

.picture {
  margin: 22px 0 22px 0;
}

.titre--position {
  text-align: center;
}

.video--margin {
  margin-top: 15px;
}

.video {
  max-width: 100%;
  height: auto;
}


.liste__ameliorer {
  margin-top: 10px;
  max-width: 100ch;
  margin-left: 0;
}

.liste__presentation {
  list-style: auto;
  margin-top: 16px;
  margin-left: 22px;
}

.panierAlimentaire--size {
  width: 70%;
}

.citation__contenu {
  font-size: xx-large;
  font-style: italic;
  font-weight: 700;
}

.txtGras {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 7px;
}

.containerText {
  background-color: #F8F7F1;
  padding: 22px;
  border-radius: 9px;
  height: fit-content;
  max-width: 55ch;
}

.figure__img--medium {
  max-width: 50%;
}


.image-block {
  width: 120px;
  height: 150px;
  display: none;
  bottom: -100%;
  transform: translateY(158%);
  transition: all 0.5s ease-in-out;
}

.open.image-block {
  display: block;
  position: fixed;
  bottom: 7%;
  z-index: 999;
  transform: translateY(0);
}