@import 'utils/variables';
@import 'components/type';


* {
    margin: 0;
    padding: 0;
  }

  html{ 
    overflow-x:hidden !important; 
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    color: #06593B;
}

.title {
    font-weight: 1000;
    color: #823e05;;
}

.title--big {
    font-size: 37px;
    text-transform: uppercase;

}

.title--medium {
    font-size: 28px;
    margin-top: 35px;

}

.title--small {
    font-size: 22px;
    margin-top: 5px;
    text-align: center;
}

ul {
    list-style: none;
}

a{
text-decoration: none;
}

.figure__img--panier{
    width: 70%;
   }
    
.figure__img--big{
    width: 100%;
    }
    
 p{
    margin-top: 22px;
    }

    .figure--margin{
    margin-top: 20px;
}

.video--margin{
margin-top: 20px;
}

.video{
max-width: 100%;
height: auto;
}

.liste__ameliorer {
margin-top: 16px;
}

.liste__presentation {
list-style: auto;
margin-top: 16px;
margin-left: 50px;
}

/* ----------------------- SECTION----------------------- */

.sectionOne{
    margin-top: 94px;
    padding: 25px 25px 25px 25px;
    background-image: url(../assets/images/background-mobile.svg);
    background-size: cover;
    border-radius: 20px;
    
}


.sectionTwo{
    padding: 25px;
    border-radius: 50px 50px 0 0;

 
   
}

.sectionThree{
        background-color: #06593B;
        color: white;
        padding: 25px 25px 25px 25px;
        border-radius: 50px 50px 0 0;

        .title{
            color: white;
        }
    
        summary::marker{
            color: white;
        }
}

.sectionFour{
        padding: 0 25px 0 25px;
}

.sectionFive{
        padding: 0 25px 0 25px;
}


.sectionSix{
        padding: 0 25px 0 25px;
}

.sectionSeven{
        padding: 0 25px 50px 25px;
}




/* ----------------------- Header----------------------- */

.logo__el {
    width: 97px;
}

.logo__text {
    white-space: nowrap;
    text-indent: 100%;
    position: absolute;
    overflow: hidden;
}

.btn__documentation{
    background-color: #06593B;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    padding: 9px;
    border-style: none;
    border-radius: 10px;
    font-family: 'Indie Flower', sans-serif;
}

.head{
     display: flex;
     justify-content: space-around;
     top: 0;
     width: 100%;
     position: fixed;
     z-index: 1;
     transition: 1s;
     align-items: center;
     background-color: white;
     border-bottom: 3px solid white;
     
}

.menu__el--actif {
    border-bottom: 2px red;
}

.head--hide{
    opacity: .0001;
    top: -10px;
}

/* ----------------------- burger menu ----------------------- */


.nav__button{
    background-color: #06593B;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    padding: 9px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    font-family: 'Indie Flower', sans-serif;
    padding: 9px;
    position: relative;
    float: right;
    z-index: 2;
    
}

.nav__button.close {
    color: #06593B;
    background-color: white;
    border-color: #06593b;
}

.menu {
    transition: transform .5s;
    position: relative;
    width: 100%;
    display: none;
}

.menu.show__menu {
    height: 100%;
    right: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    opacity: 1;
    top: 0;
    background-color: #06593B;
    


}

.menu__list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: stretch;
    margin-top: 10%;
    width: 100%;
   
}

.menu a{
    color: white;
}

.menu__el {
    margin-top: 26px;
    border-bottom: ridge;
}



@keyframes slide-in {
  0% {
    transform: translate3d(0,-100%,0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    transition: transform .85s cubic-bezier(.215,.61,.355,1) 0ms;
    opacity: 1;
  }
}


li{
  opacity: 0;
  animation: slide-in 0.7s ease-in-out forwards;

  &:nth-child(1) {
      animation-delay: 0.1s; 
    }
    
    &:nth-child(2) {
      animation-delay: 0.2s; 
    }
    
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    
    &:nth-child(4) {
      animation-delay: 0.4s; 
    }
    &:nth-child(5) {
      animation-delay: 0.5s; 
    }
    &:nth-child(6) {
      animation-delay: 0.6s; 
    }
    &:nth-child(7) {
      animation-delay: 0.7s; 
    }
}



.image-block{
    width: 120px;
    height: 150px;
    display: none;
    bottom: -100%;
    transform: translateY(158%);
    transition: all 0.5s ease-in-out;
}

.open.image-block {
    display: block;
    position: fixed;
    bottom: 7%;
    z-index: 999;
    transform: translateY(0);
  }


  /* ----------------------- SVG ----------------------- */
   
  .cls-1 {
    fill: #c9c0b1;
  }

  .cls-1, .cls-2 {
    opacity: .37;
  }

  .cls-3 {
    fill: #568e4c;
  }

  .cls-4 {
    fill: #823e05;
  }

  .cls-5, .cls-6, .cls-7, .cls-8 {
    fill: #fff;
  }

  .cls-9 {
    fill: #5a75ab;
  }

  .cls-10 {
    fill: #d34f47;
  }

  .cls-11 {
    fill: #e1a42b;
  }

  .cls-12 {
    fill: #88b5d4;
  }

  .cls-13 {
    fill: #223465;
  }

  .cls-6 {
    opacity: .27;
  }

  .cls-6, .cls-7, .cls-8 {
    isolation: isolate;
  }

  .cls-14 {
    fill: #e5ca30;
  }

  .cls-15 {
    fill: #435ca7;
  }

  .cls-16 {
    fill: #9ed2f2;
  }

  .cls-17 {
    fill: #60453f;
  }

  .cls-18 {
    fill: #94756d;
  }

  .cls-19 {
    fill: #324496;
  }

  .cls-20 {
    opacity: .27;
  }

  .cls-20, .cls-21 {
    fill: #06593b;
  }

  .cls-22 {
    fill: #72ba65;
  }

  .cls-23 {
    fill: #735b53;
  }

  .cls-7 {
    opacity: .37;
  }

  .cls-24 {
    fill: #473834;
  }

  .cls-25 {
    fill: #faea3f;
  }

  .cls-26 {
    fill: #ae3f3c;
  }

  .cls-27 {
    fill: #ed9254;
  }

  .cls-28 {
    fill: #d8874e;
  }

  .cls-29 {
    fill: #f6a03a;
  }

  .cls-30 {
    fill: #b87446;
  }

  .cls-31 {
    fill: #456c4a;
  }

  .cls-32 {
    fill: #fccc86;
  }

  .cls-33 {
    fill: #856962;
  }

  .cls-8 {
    opacity: .58;
  }

  .figure__gridOne{

  }
  

@keyframes moveVivres {
0% {
transform: translate3d(-100%,-100%,0);
opacity: 0;
}
100% {
transform: translateZ(0);
transition: transform cubic-bezier(.215,.61,.355,1) 0ms;
opacity: 1;
}
}

.groupe-animation {
opacity: 0;
animation: moveVivres 4s forwards;
}

.tea {
animation-delay: 3s;
}

.banane {
animation-delay: 2.5s;
}

.legume {
animation-delay: 2s;
}

.pomme1 {
animation-delay: 1s;
}

.pomme2 {
animation-delay: 1.5s;
}

.bouteille {
animation-delay: 0.5s;
}

.pain {
animation-delay: 3.5s;
}

@keyframes moveSac {
  0% {
  transform: translateY(100%);
  opacity: 0;
  }
  100% {
  transform: translateZ(0);
  transition: transform cubic-bezier(.215,.61,.355,1) 0ms;
  opacity: 1;
  }
  }
  
  .sac-animation {
  opacity: 0;
  animation: moveSac 4s forwards;
  }


details[open] summary {
    border-bottom: 1px solid #06593B;
    margin-bottom: 0.5em;
  
}

.details{
    margin-top: 16px;
}

.details__liste {

}

.details__liste li{
margin-top: 0.5em;
}

.details__task{
    border: 1px solid #aaa;
    border-radius: 4px;
    border-color: #06593B;
    padding: 0.5em 0.5em 0.5em;
}

summary::marker {
    color: #06593B;
}


/* ----------------------- DARK MODE ----------------------- */


.butt {
  width: 50px;
  height: 25px;
  text-align: center;
  background-color: #fff;
  color: black;
  border-radius: 25px;
  transition: all 1s;
  border: none;
  cursor: pointer;
  bottom: 0;
  position: fixed;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.night .butt {
  background-color: #000;
  color: #fff;
}

.night {
  color: white;
  background-color: #05141A;
}

.night p {
  color: white;
}

.night figcaption {
  color: white;
}

.night .title--medium {
  color: #02ff37;
}

.night .list__el {
  color: white;
}

.night .tab__item {
  color: white;
}

.night a {
  color: #02ff37;
}

.night .menu a {
  color: white;
}

.night footer a {
  color: #02ff37;
}

.night .annee {
  color: #02ff37;
}

.night .lien--color {
  color: white;
}


.night .sectionOne{
  background-image: none;

}

.night .sectionThree{
  background-color: #05141A;
}

.night .container__audit{
  background-color: #05141A;
  color: white;
}
.night .head{
  background-color: #05141A;
  border-bottom: #05141A;
}

.night .title--small{
  color: #6aff89;
}

.night .title--big{
  color: #02ff37;
}





/* ----------------------- audits ----------------------- */

.figure__img--small{
    width: 30%;
    height: auto;
    float: left;
    margin-top: 24px;
    margin-right: 5px;
}


.audit{
border-radius: 7px;
padding: 10px;
background-color: #06593B;
}

.audit li{
    margin-top: 0.5em;
}

.container__audit{
background-color: white;
border-radius: 7px;
padding: 20px;
}


/*-----------------------voir plus -------------------*/



.voirPlus{
  display: none;
}

.voirPlus.show{
  display: block;
}

.voirPlus--tableau{
  display: none;
}

.voirPlus--tableau.show{
  display: block;
}



.openbutton, .openbutton__2{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #06593B;
  color: white;
  font-weight: bolder;
  padding: 9px;
  border-style: none;
  border-radius: 10px;
}

.openbutton:hover{
 opacity: 0.5;
}


/*-----------------------Tableau----------------------*/


.custom-table {
	border-spacing: 10px;
	color: white;
  }
  
  .custom-table td {
	border: 1px solid;
	padding: 8px;
	position: relative;
  }

  .questions{
	background-color: #06593B;
  }

  .reponse__heaj{
background-color: #823E05;
  }

  .reponse__henallux{
	background-color: #823E05;
  }

  .reponse__unamur{
	background-color: #823E05;
  }

/* ----------------------- GRID ----------------------- */

.grid{
display: grid;
grid-template-columns: 0.4fr 1fr 0.4fr 1fr;
grid-gap: 5px;
}


.gridColumn__1{
    grid-column: 1/-1;
}

.gridColumn__2{
grid-column: 2/-1;
}

/* ----------------------- Animation ----------------------- */

.title--medium{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease-in-out;
}

.show-title--medium {
    opacity: 1;
    transform: translate(0);
   }

   
.text{
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease-in-out;
}

.show-text {
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .45s linear 0ms,transform 1.05s cubic-bezier(.19,1,.22,1) 0ms;
 
   }


.title--small{
    opacity: 0;
    transform: translateZ(0);
    transition: all 0.5s ease-in-out;
}

.show-title--Small {
    opacity: 1;
    transform: translateY(0);
  
   }







/* ----------------------- FOOTER ----------------------- */


footer {
    text-align: center;
    border-top: 1px solid #06593B;
}


.li__footer {
    
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding: 25px;
    text-align: left;

}

.copyrith {

    padding-bottom: 20px;
    display: inline-flex;
}

.el__footer--actif {
    margin-right: 20px;
    text-decoration: underline;
    color: darkblue;
}

.el__footer {
    margin-top: 5px;
}

.annee {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.footer a {
    color: #823e05;
}

